* {
  box-sizing: border-box;
}

a {
  color: lightgray;
}

.sl-body {
  background-color: black;
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.sl-background {
  width: 100%;
  height: 100vh;
}

.sl-guitar-svg {
  position: absolute;
  width: 5%;
  margin-top: -3vh;
}

.sl-guitar-svg svg {
  fill:none;
  stroke:#ffffff;
  stroke-width:0;
  stroke-miterlimit:10;
  stroke-dasharray: 2821.455322265625;
  animation: dash 5s linear forwards;
  width: 100%;
  animation-delay: .5s;
}

.sl-text-svg {
  position: absolute;
  width: 35%;
  margin-top: 22vh;
  pointer-events: none;
  animation: click-delay 1s linear forwards;
  animation-delay: 14.5s;
}

.sl-text-svg svg {
  fill:none;
  stroke:#ffffff;
  stroke-width: 0;
  stroke-miterlimit:10;
  stroke-dasharray: 4010.2470703125;
  animation: dash-text 9s linear forwards;
  width: 100%;
  animation-delay: 6s;
}

@keyframes dash {
  from {
    stroke-width:4;
    stroke-dashoffset: 2821.455322265625;
  }

  to {
    stroke-width:4;
    stroke-dashoffset: 0;
  }
}

@keyframes dash-text {
  from {
    stroke-width: 1.75;
    stroke-dashoffset: 4010.2470703125;
  }

  to {
    stroke-width: 1.75;
    stroke-dashoffset: 0;
  }
}

@keyframes click-delay {
  from {
    pointer-events: none;
  }
  to {
    pointer-events: all;
  }
}



.so-body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
}

.so-body--cursor {
  cursor: url("../images/guitar-tiny.png"), crosshair;
}

.so-body--cursor--no-guitar {
  cursor: auto;
}

.so-body--cursor--no-guitar .so-astronaut-box {
  cursor: grab;
}

.so-bounding-box {
  width: 100%;
  height: 100%;
  /* border: 5px solid red; */
  position: absolute;
  /* overflow: hidden; */
}

.so-bounding-box--show-guitar  .so-astronaut-box--guitar {
  display: block;
}

.so-bounding-box--show-guitar  .so-astronaut-box--no-guitar {
  display: none;
}

.so-astronaut-box--guitar {
  display: none;
}

.so-astronaut-box--no-guitar {
  display: block;
}

.so-background {
  width: 100%;
  height: 100%;
  /* border: 5px solid blue; */
  position: absolute;
}
.so-space {
  width: 100%;
  height: 100%;
  /* opacity: 50%; */
}

.so-astronaut-box {
  width: 85px;
  height: 100px;
  /* border: 2px solid turquoise; */
  position: absolute;
  /* left: 100%; */
  top: 20%;
  animation: float-bezier 200s infinite;
  animation-timing-function: cubic-bezier(.25,.52,.67,.68);
  cursor: url("../images/guitar-tiny-angle.png"), auto;
}

.so-astronaut {
  width: 100%;
  /* position: absolute; */
}

.so-astronaut-guitar {
  position: absolute;
  /* left: 1%; */
  /* top: 20%; */
  /* animation: none; */
}

@keyframes float {
  0% {
    top: 20vh;
    left: 92vw;
  }
  15% {
    top: 35vh;
    left: 45vw;

  }
  30% {
    top: 50vh;
    left: 0vw;
    transform: rotate(70deg)
  }
  40% {
    top: 82vh;
    left: 10vw;
  }

  60% {
    top: 0vh;
    left: 40vw;
  }
  80% {
    top: 85vh;
    left: 75vw;
  }
  100% {
    top: 20vh;
    left: 92vw;
  }
}

@keyframes float-bezier {
  0% {
    top: 40%;
    left: 90%;
  }
  11% {
    top: 25%;
    left: 0%;
    transform: rotate(70deg)
  }
  17% {
    top: 0%;
    left: 35%;
  }
  31% {
    top: 84%;
    left: 92%;
  }
  37% {
    top: 50%;
    left: 60%;
  }
  46% {
    top: 0%;
    left: 92%;
    transform: rotate(190deg)
  }

  55% {
    top: 0%;
    left: 55%;
  }
  66% {
    top: 84%;
    left: 0%;
  }
  72% {
    top: 84%;
    left: 30%;
  }
  79% {
    top: 0%;
    left: 40%;
    transform: rotate(0deg)
  }
  85% {
    top: 40%;
    left: 25%;
  }
  93% {
    top: 82%;
    left: 65%;
  }
  100% {
    top: 40%;
    left: 90%;
  }
}



.so-overlay-page {
  position: absolute;
  margin: 0;
  height: 100%;
  width: 100%;
  /* border: 5px solid yellow; */
  cursor: auto;
  /* background-color: rgba(255, 177, 162, 0.1); */
}

.so-overlay-page--open {
  position: absolute;
  margin: 0;
  height: 0;
  width: 0;
  /* border: 5px solid yellow; */
  /* background-color: rgba(255, 177, 162, 0.1); */
}

.so-button {
  position: absolute;
  left: 30px;
  top: 40px;
  cursor: pointer;
  padding: 10px;
  /* background-color: green; */
  z-index: 100;
  height: 40px;
  width: 40px;
}

.so-button .so-button-expanded {
  display: none;
}

.so-button--open .so-button-expanded {
  display: block;
}
.so-button--open .so-button-wrap {
  display: none;
}

.so-button-wrap {
  position: relative;
}

.so-button-collapsed-inner {
  position: absolute;
  height: 6px;
  width: 6px;
  margin: 7px;
  border-radius: 50%;
  border: 2px solid white;
}
.so-button-collapsed-outer {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 4px solid white;
}

.so-button-expanded {
  position: absolute;
  /* left: 40px;
  top: 40px;
  padding: 10px; */

}
.so-button-expanded-inner {
  position: absolute;
  height: 5px;
  width: 5px;
  margin: 6px;
  border-radius: 50%;
  border: 4px solid white;
}

.so-button-expanded-outer {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid white;
}

.so-overlay-expanded {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  index: 100;
  cursor: auto;
}

.so-text-box {
  position: absolute;
  left: 65px;
  top: 75px;
  width: 40vw;
  height: auto;
  /* background-color: rgba(225,225,225,0.3); */
  border-radius: 15px;
  padding: 20px;
  color: white;
  font-family: BradleyHandBold;
  pointer-events: none;
  background-image: url("../images/info-overlay-small.png");
}

.so-text-box a {
  pointer-events: auto;
}

/* .so-text-box--image {
  position: absolute;
  left: 65px;
  top: 75px;
  width: 40vw;
  height: auto;
  border-radius: 15px;
  color: white;
  font-family: BradleyHandBold;
  pointer-events: none;
} */

.so-overlay-page .so-overlay-expanded {
  display: block;
}

.so-overlay-page--open .so-overlay-expanded {
  display: none;
}

@font-face {
  font-family: BradleyHandBold;
  src: url("../fonts/Bradley Hand Bold.ttf");
}
